.footer{
    background-color: #0A0A0A;
    &__wrapper{
        @include flex-colum;
        padding-top: 75px;
        padding-bottom: 140px;
        gap: 30px;
    }
    &-h2{
        color: $white-color;
        max-width: 100px;
        font-size: 24px;
        font-weight: 500;
    }
    &-p{
        color: $white-color;
    }
    &__detals{
        &__list{
            @include flex-row;
            gap: 20px;
        }
    }
}