$container-width-xl: 1140px;
$container-width-x2: 992px;
$container-width-x2: 575px;
$padding-container: 15px;
$primarry-color-500: hsl(0, 62%, 53%);
$primarry-color-600: hsl(0, 62%, 43%);
$white-color: #fff;
$font-family: 'Montserrat', sans-serif;
$transition-btn: all 0,35s ease-in-out;