@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-colum {
    display: flex;
    flex-direction: column;
}

@mixin img-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;

    @content;
}

@mixin object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

// Adaptive
@mixin Small-1000-PcScreen {
    @media screen and (max-width: 1000px) {
        @content;
    }
}

@mixin Small-640-PcScreen {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin Small-480-PcScreen {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin Small-320-PcScreen {
    @media screen and (max-width: 320px) {
        @content;
    }
}


